
<!DOCTYPE html>
<html>
  <body>
    <div class="row">
      <div class="col-xs-12 col-md-10"><h1> Bienvenido a Critter </h1>
          <h3> ¿Qué desea hacer? </h3></div>
    </div>
    <div class="container-fluid">
      <div class="row">  
        <ul>
          <div class="col-md-6">
            Sexo porno anal
          </div>
          <div class="col-md-6">
              <li> 
                <%= link_to "Listado de Monstruos", monstruos_path %>
              </li>
              <li>
                <%= link_to "Ver el primer monstruo", ver_monstruos_path %>
              </li>
          </div>
        </ul>
      </div>
    </div>
  </body>
</html>