<!------------------------------------------------------ 
Debe mostrarse la información del primer monstruo sin
usar el id.
Se debe mostrar el nombre (como título) y la descripción 
(como párrafo).
------------------------------------------------------>

<!DOCTYPE html>
<html>
    
    <head>
        <title>
          Falopa
        </title>
    </head>
    <body>
        <%monstruo=Monstruo.first%>
         <h1>
             <%=monstruo.nombre%>
        </h1>
        <p>
            <%=monstruo.descripcion%>
        </p>
    </body>
</html>

